.correct {
  color: green;
}

.uncorrect {
  color: red;
}

ul.open_symbols {
  // list-style-type: none;
  padding: 0;
  // text-align: left;
}

li.open_symbols {
  display: inline;
}

body {
  text-align: center;
  background-image: url(../images/back.gif);
}

#container {
  width: 640px;
  margin: 0 auto;
}

#border-container {
  border-style: solid;
  border-radius: 1em;
  background-image: url(../images/back2.gif);
}

#test-panel {
  border-width: thin;
  border-bottom-style: solid;
  border-top-style: solid;
}

footer {
  width: 50%;
  margin: 0 auto;
  border-style: solid;
  border-top-style: none;
  border-radius: 0 0 1em 1em;
  background-image: url(../images/back2.gif);
}

#test_symbol {
  font-size: 1000%;
  //text-shadow: black 0 0 5px;
}

#check_symbol {
  margin: 8px;
  width: 5em;
  text-align: center;
  font-size: medium;
  border-radius: 1em;
}
